// Modern-normalize
@import '~node_modules/modern-normalize/modern-normalize.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
  height: 100%;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: $bg-color-primary;
}

a {
  margin: 0;
}
li {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
// container
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 32px;
    padding-right: 32px;
    width: 1280px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.button {
  border-radius: 5px;
  line-height: 1.33;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;

  &:hover {
    filter: drop-shadow(0 0 0.5rem #ffffffa7);
  }

  &.active {
    border: none;
    background-color: $button-bg-active-color;
    filter: drop-shadow(0 0 1rem #ff6b0199);
  }
}

.title {
  color: $text-color-primary;
  text-transform: uppercase;
}

.is-hidden {
  display: none;
}

.backdrop {
  z-index: 200;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.56);
  overflow: overlay;
  padding: 20px 10px 38px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  padding-top: 20px;
  padding-bottom: 38px;
  padding: 20px 10px 38px;
  overflow: overlay;
  width: 100%;
  height: 100%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// Позиционирует нотификашку !Взлом библиотеки!
div[id^='NotiflixNotifyWrap'] {
  position: absolute;
  inset: 140px 0 auto;

  @include mq(mobile-only) {
    width: 280px;
    inset: 150px 0 auto;
  }
}
div[id^='NotiflixNotifyWrap'] > div {
  justify-content: center;
}
