// Modern-normalize
@import '~node_modules/modern-normalize/modern-normalize.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
  height: 100%;
}

body {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
// container
.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    padding-left: 20px;
    padding-right: 20px;
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 32px;
    padding-right: 32px;
    width: 1280px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
