@import './utils/variables';
@import './utils/mixins';
@import './base/common';

// Header
@import './components/header';
@import './components/logo';
@import './components/nav';
@import './components/form-search';
@import './components/notify-failed';

// Header-library
@import './components/library-buttons';

// main list
@import './components/films';
@import './components/pagination';

// Modal windows
@import './components/modal';

// Modal team
@import './components/modalteam';

// Footer markup
@import './components/footer';