    <li class="film">
        <a class="film-link link" href="">
          <div class="film-image-container">
            <img
              class="film-image"
              src=""
              alt=""
            />
          </div>
          <h2 class="film__name"></h2>
          <div class="film-description">
            <p class="film__genre"></p>
            <p class="film__year"></p>
            <p class="film__rating"></p>
          </div>
        </a>
    </li>