// colors
$bg-color-primary: #ffffff;
$bg-color-secondary: #F7F7F7;

$text-color-primary: #000;
$text-color-secondary: #8C8C8C;
$text-color-active: #fff;
$text-color-footer: #545454;

$accent-color: #FF6B08;
$error-color: #FF001B;

// transitions
$tr-duration: 250ms;
$tr-function: cubic-bezier(0.4, 0, 0.2, 1);