    <!-- LOGIN MODAL -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
          <h4>Login</h4>
          <br />
          <form id="login-form">
            <div class="input-field">
              <input type="email" id="login-email" required />
              <label for="login-email">Email address</label>
            </div>
            <div class="input-field">
              <input type="password" id="login-password" required />
              <label for="login-password">Your password</label>
            </div>
            <button class="btn z-depth-2" style="background: #ff6b08">
              Login
            </button>
          </form>
        </div>
      </div>