<header class="header header--library">
  <div class="container">
    <div class="header__up">
      <a href="./index.html" class="logo link">
        <svg width="24" height="24">
          <use class="logo__icon" href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__link link" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a
              class="nav__link active link"
              href="./library.html"
              id="header-mylibrary"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="buttons">
      <button class="buttons__button button active" data-watched="data-watched">
        watched
      </button>
      <button class="buttons__button button" data-queue="data-queue">
        queue
      </button>
    </div>
  </div>
</header>
