<header class="header-library">
  <div class="header-library__logo"></div>
  <ul>
    <li>
      <a href="#"></a>Home
      <div class="header-library__divider"></div>
    </li>
    <li>
      <a href="#"></a>My library
      <div class="header-library__divider divider_active"></div>
    </li>
  </ul>
  <div class="header-library__buttons">
    <button class="header-library__buttons-button active">watched</button>
    <button class="header-library__buttons-button">queue</button>
  </div>
</header>
