<header class="header">
  <div class="container">
    <div class="header__up">
      <a href="./index.html" class="logo link">
        <svg width="24" height="24">
          <use class="logo__icon" href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__link active link" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a
              class="nav__link link"
              href="./library.html"
              id="header-mylibrary"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <form class="search-form" id="search-form">
      <input
        class="search-form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="search-form__button button" type="submit">
        <svg width="12" height="12" class="search-form__icon">
          <use
            class="search-form__icon"
            href="./images/icons.svg#icon-search"
          ></use>
        </svg>
      </button>
    </form>
  </div>
</header>
