<main class="container">
  <ul class="films list">
    <li class="film">
      <!-- <div class="film-card"> -->
      <a class="film-link link" href="">
        <div class="film-image-container">
          <img
            class="film-image"
            src="/src/images/test/test-desktop.jpg"
            alt=""
            width=""
            height=""
          />
        </div>
        <h2 class="film__name">Greyhound</h2>
        <div class="film-description">
          <p class="film__genre">Drama, action</p>
          <p class="film__year">2020</p>
          <p class="film__rating">10.0</p>
        </div>
      </a>
      <!-- </div> -->
    </li>
    <li class="film">
      <!-- <div class="film-card"> -->
      <a class="film-link link" href="">
        <div class="film-image-container">
          <img
            class="film-image"
            src="/src/images/test/test-desktop.jpg"
            alt=""
            width=""
            height=""
          />
        </div>
        <h2 class="film__name">Greyhound</h2>
        <div class="film-description">
          <p class="film__genre">Drama, action</p>
          <p class="film__year">2020</p>
          <p class="film__rating">10.0</p>
        </div>
      </a>
      <!-- </div> -->
    </li>
    <li class="film">
      <!-- <div class="film-card"> -->
      <a class="film-link link" href="">
        <div class="film-image-container">
          <img
            class="film-image"
            src="/src/images/test/test-desktop.jpg"
            alt=""
            width=""
            height=""
          />
        </div>
        <h2 class="film__name">Greyhound</h2>
        <div class="film-description">
          <p class="film__genre">Drama, action</p>
          <p class="film__year">2020</p>
          <p class="film__rating">10.0</p>
        </div>
      </a>
      <!-- </div> -->
    </li>
    <li class="film">
      <!-- <div class="film-card"> -->
      <a class="film-link link" href="">
        <div class="film-image-container">
          <img
            class="film-image"
            src="/src/images/test/test-desktop.jpg"
            alt=""
            width=""
            height=""
          />
        </div>
        <h2 class="film__name">Greyhound</h2>
        <div class="film-description">
          <p class="film__genre">Drama, action</p>
          <p class="film__year">2020</p>
          <p class="film__rating">10.0</p>
        </div>
      </a>
      <!-- </div> -->
    </li>
    <li class="film">
      <!-- <div class="film-card"> -->
      <a class="film-link link" href="">
        <div class="film-image-container">
          <img
            class="film-image"
            src="/src/images/test/test-desktop.jpg"
            alt=""
            width=""
            height=""
          />
        </div>
        <h2 class="film__name">Greyhound</h2>
        <div class="film-description">
          <p class="film__genre">Drama, action</p>
          <p class="film__year">2020</p>
          <p class="film__rating">10.0</p>
        </div>
      </a>
      <!-- </div> -->
    </li>
    <li class="film">
      <!-- <div class="film-card"> -->
      <a class="film-link link" href="">
        <div class="film-image-container">
          <img
            class="film-image"
            src="/src/images/test/test-desktop.jpg"
            alt=""
            width=""
            height=""
          />
        </div>
        <h2 class="film__name">Greyhound</h2>
        <div class="film-description">
          <p class="film__genre">Drama, action</p>
          <p class="film__year">2020</p>
          <p class="film__rating">10.0</p>
        </div>
      </a>
      <!-- </div> -->
    </li>
  </ul>
</main>
