<div class="backdrop" modal>
  <div class="modal__movie">
    <button class="modal__close" modal-close>
      <svg class="modal__btn" width="20px" height="20px">
        <use href="./images/icons.svg#icon-close" fill="black"></use>
      </svg>
    </button>
    <div class="modal__img">
      <img src="./images/test/test mobile.jpg" alt="" />
    </div>
    <div class="modal-info">
      <h2 class="modal-info__header">GREYHOUND</h2>
      <table class="modal-info-table">
        <tbody>
          <tr class="modal-info__row">
            <td><p class="modal-info__attribute">Vote / Votes</p></td>
            <td>
              <p><span class="film__rating modal-info__rating">7.032</span> / 823</p>
            </td>
          </tr>
          <tr class="modal-info__row">
            <td><p>Popularity</p></td>
            <td><p>5115.365</p></td>
          </tr>
          <tr class="modal-info__row">
            <td><p>Original Title</p></td>
            <td><p>Samaritan</p></td>
          </tr>
          <tr class="modal-info__row">
            <td><p>Genre</p></td>
            <td><p>Action, Drama</p></td>
          </tr>
        </tbody>
      </table>

      <h3 class="modal-info__about-title">About</h3>
      <p class="modal-info__about">
        An LA vampire hunter has a week to come up with the cash to pay for his
        kid's tuition and braces. Trying to make a living these days just might
        kill him. Trying to make a living these days just might kill him. Trying
        to make a living these days just might kill him.
        ake a living these days just might
        kill him. Trying to make a living these days just might kill him. Trying
        to make a living these days just might kill him.
      </p>
      <ul class="modal-info__buttons-list">
         <li class="movie-data__button-item">
           <button type="button" data-btn="watched" class="modal-info__button button active">
            add to Watched
           </button>
         </li>
         <li class="modal-info__button-item">
           <button type="button" data-btn="queue" class="modal-info__button button">add to queue</button>
         </li>
       </ul>
    </div>
  </div>
</div>
