html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  margin: 0;
}
li {
  margin: 0;
}
.films {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  @media (min-width: 768px) {
    padding-top: 60px;
  }
}
.film {
  max-width: 280px;
  // height: 398px;

  margin-bottom: 20px;
  @media (min-width: 768px) and (max-width: 1279px) {
    max-width: 336px;
    // height: 455px;

    margin-right: 32px;
    margin-bottom: 32px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media (min-width: 1280px) {
    max-width: 395px;
    // height: 574px;

    margin-right: 15px;
    margin-bottom: 32px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

.film__link {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.film__image-container {
  // max-width: 280px;
  height: 398px;
  margin-bottom: 8px;
  // overflow: hidden;

  @media (min-width: 768px) and (max-width: 1279px) {
    //   max-width: 336px;
    height: 455px;
  }
  @media (min-width: 1280px) {
    // max-width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }
}
.film__image {
  object-fit: cover;
}
.film__name,
.film__genre,
.film__year {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film__name {
  // display: inline;
  margin-top: 8px;
  @media (min-width: 1280px) {
    margin-top: 12px;
  }
}

.film__description {
  display: flex;
}
.film__genre,
.film__year {
  color: $card-accent-color;
}
.film__genre {
  // width: 70%;
}
film__span {
}
.film__year {
  // position: relative;
  // margin-left: 17px;
}
// .film__year::before {
//   content: '';
//   position: absolute;
//   left: -8px;
//   width: 1px;
//   background-color: $card-accent-color;
//   height: 12px;
//   @media (min-width: 1280px) {
//     height: 20px;
//   }
// }
.film__rating {
  // display: inline-block;
  // height: 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  color: $text-color-active;
  background-color: $rating-bg-color;
  border-radius: 5px;
  margin-left: 9px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;

  @media (min-width: 768px) {
    margin-left: 8px;
  }
  @media (min-width: 1280px) {
    padding-top: 4px;
    max-height: 20px;
  }
}
