a {
  margin: 0;
}
.films {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.3;
  padding-top: 20px;
  @media (min-width: 768px) {
    padding-top: 60px;
  }
  @media (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film {
  margin-bottom: 20px;
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-right: 32px;
    margin-bottom: 32px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media (min-width: 1280px) {
    margin-right: 15px;
    margin-bottom: 32px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

.film__link {
}
.film__image-container {
  width: 280px;
  height: 398px;
  margin-bottom: 8px;

  @media (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media (min-width: 1280px) {
    width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }
}
.film__image {
  object-fit: cover;
}
.film__name {
  font-size: inherit;
  color: $text-color-primary;
  text-transform: uppercase;
  margin-top: 8px;
  @media (min-width: 1280px) {
    margin-top: 12px;
  }
}

.film__description {
  display: flex;
}
.film__genre,
.film__year {
  color: $card-accent-color;
}
.film__year {
  position: relative;
  margin-left: 17px;
}
.film__year::before {
  content: '';
  position: absolute;
  left: -8px;
  width: 1px;
  background-color: $card-accent-color;
  height: 12px;
  @media (min-width: 1280px) {
    height: 20px;
  }
}
.film__rating {
  color: $text-color-active;
  background-color: $rating-bg-color;
  border-radius: 5px;
  margin-left: 9px;
  padding-left: 6px;
  padding-right: 6px;
  @media (min-width: 768px) {
    margin-left: 8px;
  }
}
