.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $bg-color-secondary;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__item {
  text-align: center;
  color: $text-color-footer;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;

  &:first-child {
    @include mq(mobile-only) {
      margin-bottom: 10px;
    }
  }
}

.footer__link {
  color: inherit;
  transition: color $tr-duration $tr-function;

  &:hover,
  &:focus {
    color: #ff6b01;
  }
}
