.header {
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/header-background-mobile.jpg');
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('../images/header-background-mobile2x.jpg');           
  }

  @media screen and (min-width: 768px) {  
    height: 216px;          
    background-image: url('../images/header-background-tablet.jpg');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/header-background-tablet2x.jpg');   
    }
  }

  @media screen and (min-width: 1280px) {
    height: 216px;
    background-image: url('../images/header-background-desktop.jpg');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/header-background-desctop@2x.jpg');   
    }
  }
}

.header--library {
  background-image: url('../images/header-library-mobile.jpeg');    
    
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('../images/header-library-mobile.jpeg');
  }
    
  @media screen and (min-width: 768px) {
    background-image: url('../images/header-library-tablet.jpeg');
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/header-library-tablet.jpeg');
    }
  }
    
  @media screen and (min-width: 1280px) {
    background-image: url('../images/header-library-desktop.jpeg');
   
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/header-library-desktop.jpeg');
    }
  }
}

.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  // padding-bottom: 60px;      
}

.header__up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}