.buttons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }

  &__button {
    width: 130px;
    height: 44px;
    color: $button-text-color-white;
    background-color: transparent;
    border: solid 1px $button-border-color-white;

    @media screen and (min-width: 768px) {
      width: 153px;
    }
    @media screen and (min-width: 1280px) {
      width: 148px;
    }
  }
}
