.backdrop {
   z-index: 200;
   position: fixed;
   bottom: 0;
   right: 0;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow-y: auto;
   background-color: rgba(0, 0, 0, 0.25);
   overflow: overlay;
   opacity: 1;
   visibility: visible;
   padding: 20px 10px 38px;
}
.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;

   visibility: visible;
   padding-top: 20px;
   padding-bottom: 38px;
   padding: 20px 10px 38px;
   overflow: overlay;
   width: 100%;
   height: 100%;
   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
   position: absolute;
   top: 8px;
   right: 8px;
   border: transparent;
   background-color: transparent;
   cursor: pointer;
}
.modal__movie {
   background-color: white;
   // border: 1px solid #000;
   z-index: 210;
   position: absolute;
   margin-top: 50px;
   margin-bottom: 50px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 50px 20px;
   width: 280px;

   @media (min-width: 768px) {
      display: flex;
      width: 700px;
   }
   @media (min-width: 1280px) {
      width: 800px;
   }
}
.modal__img {
   width: 240px;
   height: 360px;
   @media (min-width: 768px) {
      width: 265px;
      height: 375px;
   }
   @media (min-width: 1280px) {
      width: 375px;
      height: 480px;
   }
}

.modal-info {
   margin-bottom: 20px;
   line-height: 1.33;

   @media (min-width: 768px) {
      margin-left: 50px;
   }
   @media (min-width: 1280px) {
      margin-left: 20px;
   }

   &__row > td:first-child {
      white-space: nowrap;
      border-right: 39px solid transparent;

      //   @media screen and(min-width: $desktop) {
      //     border-right: 83px solid transparent;
      //   }
      // }
      // &__row:not(:last-child) > td {
      //   border-bottom: 8px solid transparent;
      //   background-clip: padding-box;
      // }

      // &__row_uk > td:first-child {
      //   white-space: normal;
      //   border-right: 17px solid transparent;

      //   @media screen and(min-width: $tablet) {
      //     border-right: 10px solid transparent;
      //   }
      //   @media screen and(min-width: $tablet) {
      //     white-space: nowrap;
      //     border-right: 33px solid transparent;
      //   }
   }

   &__row > td {
      vertical-align: top;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
   }
}

.modal-info {
   &__about {
      line-height: 1.67;
      margin-bottom: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      max-width: 240px;

      @media (min-width: 768px) {
         max-width: 265px;
      }
      @media (min-width: 1280px) {
         max-width: 390px;
      }
   }
   &__about-title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.16;
      margin-bottom: 20px;
      margin-top: 30px;
   }
}

.modal-info {
   // .modal-info__buttons-list
   &__buttons-list {
      display: flex;
      list-style-type: none;
   }

   // .modal-info__button

   &__button {
      width: 110px;
      height: 45px;
      border-radius: 5px;
      background-color: #fff;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
   }

   // .modal-info__button-item

   &__button-item {
      &:first-child {
         margin-right: 20px;
      }
   }
   &__button-item:first-child {
      margin-right: 20px;
   }
}
.movie-data__button-item:first-child {
   margin-right: 20px;
}
.movie-data {
   // .movie-data__button-item

   &__button-item {
   }
}
