.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: transparent;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all $tr-duration $tr-function;
}

.modal__btn {
  fill: $text-color-secondary;
  &:hover,
  :focus {
    fill: $card-accent-color;
  }
}

.modal__movie {
  background-color: white;
  width: 280px;
  padding: 48px 20px 40px;
  margin-bottom: 50px;
  position: relative;
  margin: auto;
  border-radius: 15px;

  @media (min-width: 768px) {
    display: flex;
    width: 700px;
  }
  @media (min-width: 1280px) {
    width: 800px;
  }
}

.modal__img {
  width: 240px;
  height: 360px;
  @media (min-width: 768px) {
    width: 265px;
    height: 375px;
  }
  @media (min-width: 1280px) {
    width: 375px;
    height: 480px;
  }
}

.modal-info__rating {
  margin-left: 0;
}

.modal-info {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.33;

  @media (min-width: 768px) {
    margin-left: 50px;
    margin-top: 0;
    max-width: 265px;
  }
  @media (min-width: 1280px) {
    margin-left: 20px;
    max-width: 390px;
  }

  &__row > td:first-child {
    white-space: nowrap;
    border-right: 39px solid transparent;
  }
  &__header {
    margin-bottom: 20px;
    font-size: 20px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1280px) {
      font-size: 30px;
    }
  }
  &__row > td {
    vertical-align: top;
    font-size: 12px;
    line-height: 16px;
  }
}

.modal-info {
  &__about {
    line-height: 1.67;
    margin-bottom: 20px;
    font-size: 12px;
  }
  &__about-title {
    font-size: 20px;
    line-height: 1.16;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.modal-info {
  &__buttons-list {
    display: flex;
    list-style-type: none;
  }

  &__btn {
    &:first-child {
      filter: drop-shadow(0 0 1rem #ff6b0199);
    }
  }

  &__button {
    width: 110px;
    height: 45px;
    font-size: 12px;
    background-color: white;
    border: solid 1px #8c8c8c;
    transition: all $tr-duration $tr-function;

    &__button-item {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  &__button-item:first-child {
    margin-right: 20px;
  }
}
.movie-data__button-item:first-child {
  margin-right: 20px;
}

.modal-info__attribute {
  color: #8c8c8c;
}

.modal-info__button:hover,
.modal-info__button:focus {
  box-shadow: 0 0 5px #642a00;
  border-color: transparent;
  transform: scale(1.02);
}
