.backdrop {
   z-index: 200;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   overflow-y: auto;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.25);
   padding: 15px;

}
.is-hidden {
   opacity: 0;
   pointer-events: none;
}
.modal__close{
width: 30px;
height: 30px;
border: 1px solid black;
}

.modal__movie{
   z-index: 210;
   width: 200px;
   height: 400px;
   background-color: white;
   border: 1px solid #000;
   z-index: 210;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 40px;
}